{% extends "Notes/page_structure.html" %}



{% block heading %} 
	
	<a href={% url 'Notes:index' %} class="go-back">&#60 back</a> {{ notebook.title }} 
{% endblock %}

{% block date %} 
	{{ notebook.pub_date |date:"M d, Y"}}
{% endblock %}  

{% block mynotes %}
	{% if notebook %}
		<p class="notes plain-notes">{{ notebook.plain_note |truncatechars:1040}}</p>
        {% else %}
		<p class="emptyContent">The note is currently empty, would you like to add conttent</p>
		
		{% endif %} 
		<a href="{% url 'Notes:delete' notebook.id %}" class="btn"> Delete Note</a>
		<a href="{% url 'Notes:update' notebook.id %}" class="btn"> Update Note</a>
{% endblock mynotes %}	

