{% extends "Notes/page_structure.html" %}

{% block heading1 %} 
My Notes
{% endblock %}

{% block mynotes %}
		 {% if Notes_list %}
		    <ol>
			{% for note in Notes_list %}
		        <p class="notes title-notes">{{ note.title }}</p>
				<p class="notes date-nottes">{{ note.pub_date}}</p>
				<p class="notes plain-notes">{{ note.plain_note }}</p>
		    {% endfor %}
		    </ol>
        {% else %}
		    <p>No Notes are available. Would You Like to create one!</p>
		    {% endif %} 
			
{% endblock mynotes %}	
