<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'Notes/page_style.css' %}">
    <link rel="icon" href="{% static 'Notes/images/favicon.svg' %}" type="image/x-icon"/>
    <title>My Notes</title>
</head>
<body>
    <div class="paper">
        <div class="lines">
          <div class="text">
            
            <p class="datee">{% block date %} date{% endblock  %}</p>
            <h1>{% block heading %} heading {% endblock %} </h1>
            {% block mynotes %}
            content
            {% endblock mynotes %}

          
          </div>
        </div>
        <div class="holes hole-top"></div>
        <div class="holes hole-middle"></div>
        <div class="holes hole-bottom"></div>
        <footer>Created by dankazim | March 15, 2021</footer>
    </div>
   
</body>
</html>